#chat-box{
    background-color: #ffffff;
    height: 82%;
    width:22%;
    border-radius: 20px;
    position: fixed;
    right:20px;
    top:50px;
}
#hide-chat{
    display: none;
}
.mymess{
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top:20px;
    word-wrap: break-word;
     max-width: 200px;
    background-color: rgb(136, 236, 211);
}

.others-mess{
    color: black;
    font-weight: 500;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top:20px;
    max-width: 200px;
    
    word-wrap: break-word;
    background-color: rgb(202, 209, 207);
   
}
.group-chat{
    font-size: 1.5rem;
    font-weight: 700;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0;
    width: 22vw;
    padding: 10px;
}
.group-chat button{
    float: right;
    margin-right: 15px;
    margin-top: 12px;
    height: 3rem;
    width: 3rem;
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    background: none;
    
}
.group-chat i{
    font-size:2rem ;
    cursor: pointer;
}
.input-chat{
   height: 2rem;
   width: 15vw;
   margin-left: 2vw;
  margin-top: 68vh;
  border: 2px solid rgb(5, 1, 70);
  border-radius: 10px;
  padding: 20px;
}
.input-chat:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgb(110, 105, 105);
}
.chat-outer-of-input
{
position: absolute;
bottom: 15px;

}
#chatbox{
    margin-top: 60px;
    height: 78%;
    background-color: rgb(218, 240, 231);
    overflow-y: scroll;
    
}
.chat-button{
    height: 4vh;
    width: 3vw;
    background: none;
    border: none;
    margin-top: 4px;
}
.chat-button i{
    margin-top: 3px;
     font-size: 20px;
     color: rgb(4, 11, 107);
}
.divfortime{
  float: right;
  font-size: 12px;
  color: rgb(2, 14, 122);
}
.divforname
{
    color: rgb(255, 0, 0);

}
.temp{
   
    padding-top: 12px;
}