
.room-container-1
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
   background-color: rgb(231, 241, 238);
  min-height: 100vh;
}

.room-video-outer{
    display: flex;
    margin-top: 5vh;
    margin-bottom: 20vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

video{
    height: 300px;
    width: 400px;
    box-shadow: 0 0 20px rgb(71, 63, 63);
    margin-top: 30px;
    border-radius: 3%;
    margin-left: 30px;
}
.column-one video{
      border-radius: 3%;
     margin-left: 3px;
     margin-top: 30px;
     box-shadow: 0 0 20px rgb(71, 63, 63);
}
.column-one div{
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-left: 150px;
    width: 150px;
    height: 30px;
    box-shadow: 0 0 10px rgb(85, 81, 81);
    border-radius: 10px;
}
.column-one{
    text-align: center;
  }
.sharevideo{
    margin-left: 60px;
    margin-top: 60px;
    height: 90%;
    width: 65%;
    border-radius: 2px;
    border: 5px solid red;
}
.video-name{
    color: rgb(0, 225, 255);
    background-color: rgb(6, 6, 7);
    width: 200px;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    margin-left: 140px;
    text-align: center;
}
.video-name:hover{
    color: rgb(73, 255, 134);
}
.column-1
{
   margin-bottom: 20vh;
   margin-top: 15vh;
  margin-left: 30vw;
}

.room-show-chat{
    width: 75vw;
    margin-left: -100px;
    display: flex;
    flex-wrap: wrap;
}
.room-show-chat .column-1{
    margin-bottom: 20vh;
    margin-top: 15vh;
   margin-left: -25vw;
}
.room-hide-chat{
    width: 100vw;
}

.room-navbar{
    padding: 5px;
    position: fixed;
    width: 100%;
    background-color: rgb(56, 63, 66);
    height: 50px;
    display: flex;
    color: aliceblue;
}
.username-navbar{
    justify-content: center;

   font-size: 20px;
   float: right;
  
}
.room-navbar spa{
    margin-left: 3vw;
   font-size: 20px;
}
.dropdownbtn{
    background-color: #1cb6f3;
    color: rgb(0, 0, 0);
    padding: 10px;
    height: 40px;
    border: none;
    box-shadow: 0 0 10px rgb(80, 78, 78);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}
.dropdown{
    margin-left: 5vw;
}
.dropdown-content{
  
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
}
.dropdown-content h6{

    background-color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: black;
   
}

.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-h6
{
    padding: 9px;
}
.dropdown-h6 i
{
    float: right;
    color: black;
    margin-right: 16px;
}
.notification{
    position: fixed;
    height: 100px;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 195, 209);
    width: 18vw;
    margin-left: 20px;
    font-size: 19px;
     bottom: 12vh;
     border-radius: 10px;
     box-shadow: 0 0 10px black;
     overflow-y: hidden;
     overflow-x: hidden;
     padding: 20px;
}  
.notification i{
    color: rgb(44, 42, 165);
    font-size: 30px;
}
.messname
{
    font-weight: 800;
}
#hand-raise-navbar{
    margin-top: 2px;
    background-color: #e599b0;
    color: #000000;
    margin-left: 4vw;
  
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0 0 0 bisque;
}

#url_input{
    opacity: 0;
}
.copy-link{
    background-color: #65cca2;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(114, 110, 110);
    padding: 10px;
}

.share-via-mail{
    margin-left: 5vw;
    border: none;
    color: black;
    background-color: #90f0f0;
    border-radius: 10px;
   padding: 10px;
   font-weight: 700;
}
.room-show-chat div .sharevideo{
    width: 70vw;
    height: 75vh;
}
.room-hide-chat div .sharevideo{
    width: 90vw;
    height: 79vh;
}
.room-show-chat .room-video-outer #video{
    width:332px;
    height: 250px;
  
}
.room-show-chat .room-video-outer .column-one video{
  
    width:332px;
    height: 250px;
}
.room-show-chat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.people{
    position: fixed;
    height: 430px;
    width: 300px;
    left: 2vw;
     bottom: 70px;
     border-radius: 3%;
    background-color: #cef7ec;
}
.nopeople{
   display: none;
}
.people-heading{
    font-size: 25px;
    padding: 10x;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 5px;
}
.people-ul{
    list-style: none;
    min-height: 400px;
    overflow-y: scroll;
}
.people-li span{
    margin-left: 30px;
}
.people-li{
    background-color: #bae5cd;
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
}
.people-li:hover{
    background-color: #cef7ec;
    opacity: 0.9;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 0 10px black;
    transform: scale(1.06);
}
.number{
    margin-left: 30px;
    color: #000000;
}
.room-empty{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    color: #0b0353;
}

@media screen and (max-width:1300px){
    .sharevideo{
        margin-top: 10vh;
        width: 90%;
    }

    .share-via-mail{
  
        margin-left: 1vw;
    }
    .dropdown-content{
  
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .dropdown{
        margin-left: 1vw;
    }
    #url_input{
        width: 100px;
    }
    .notification{
        position: fixed;
        height: 130px;
        color: rgb(0, 0, 0);
        background-color: rgb(241, 195, 209);
        width: 21vw;
        margin-left: 20px;
        font-size: 14px;
         bottom: 10vh;
         border-radius: 10px;
         box-shadow: 0 0 10px black;
         overflow-y: hidden;
         overflow-x: hidden;
         padding: 20px;
    }  
}