.feedback-outer{
    background-color: rgb(128, 180, 231);
    height: 500px;
    width: 770px;
    box-shadow: 0 0 20px black;
    text-align: center;
   margin-left: 30%;
   margin-top: 100px;
 
}
.stars{
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 40%;
}
.feedback-page{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(234, 246, 255);
}
.feedback-heading{
   font-family: 'Merriweather', serif;
   padding-top: 20px;
    font-size: 25px;
}
.feedback-submit{
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}
.feedback-submit:hover{
    box-shadow: 0 0 10px black;
}
.feedback-h1{
    margin-top: 40px;
}